@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

/*Slide Show*/
.slideShowContainer {
  position: absolute;
  top: 100px;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}
.slideshow-first {
  z-index: 3;
  left: 0;
  top: 50%;
  height: 85%;
  transform: translateY(-50%) skewY(-10deg);
  transform-origin: center;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.slideshow-first .slides {
  position: absolute;
  left: 0;
  top: -10%;
  width: 100vw;
  height: 100vh;
  animation: 11s slideshow-first-mobile -3s infinite;
}
.slideshow-first .slide1 {
  background-image: url(../images/el\ jebha/BF875F2E-C4EE-47DF-AEAB-F43DEA699A18.jpg);
  animation: 20s slides-set-1 -0.1s infinite;
}
.slideshow-first .slide2 {
  background-image: url(../images/el\ jebha/37550714_y.webp);
  animation: 20s slides-set-2 -0.1s infinite;
}
.slideshow-first .slide3 {
  background-image: url(../images/el\ jebha/4203faaa6f79564178170ac067cc5ca4.jpg);
  animation: 20s slides-set-3 -0.1s infinite;
}
@media (min-width: 600px) {
  .slideshow-first {
    left: 50%;
    top: 0;
    width: 67%;
    height: 100%;
    transform: translateX(-50%) skewX(-10deg);
  }
  .slideshow-first .slides {
    top: 0;
    left: -25%;
    height: 100%;
    animation: 11s slideshow-first -3s infinite;
  }
}
.slideshow--contrast {
  z-index: 1;
  width: 100%;
  height: 50%;
  transform: none;
}
.slideshow--contrast--before {
  left: 0;
}
.slideshow--contrast--before .slides {
  width: 100vw;
}
.slideshow--contrast--after {
  z-index: 2;
  left: auto;
  right: 0;
}
.slideshow--contrast--after .slides {
  width: 100vw;
  left: auto;
  right: 0;
}
.slideshow--contrast .slides {
  animation: 14s slideshow-contrast -5s infinite;
}
.slideshow--contrast .slide1 {
  background-image: linear-gradient(
      to bottom,
      rgba(200, 200, 75, 0.25) 0,
      rgba(200, 75, 75, 0.5) 100%
    ),
    url(../images/el\ jebha/BF875F2E-C4EE-47DF-AEAB-F43DEA699A18.jpg);
  animation: 20s slides-set-1 -0.2s infinite;
}
.slideshow--contrast .slide2 {
  background-image: linear-gradient(
      to bottom,
      rgba(200, 200, 75, 0.25) 0,
      rgba(200, 75, 75, 0.5) 100%
    ),
    url(../images/el\ jebha/37550714_y.webp);
  animation: 20s slides-set-2 -0.2s infinite;
}
.slideshow--contrast .slide3 {
  background-image: linear-gradient(
      to bottom,
      rgba(200, 200, 75, 0.25) 0,
      rgba(200, 75, 75, 0.5) 100%
    ),
    url(../images/el\ jebha/4203faaa6f79564178170ac067cc5ca4.jpg);
  animation: 20s slides-set-3 -0.2s infinite;
}
.slideshow--contrast--after {
  top: auto;
  bottom: 0;
}
.slideshow--contrast--after .slides {
  animation: 13s slideshow-contrast -13s infinite;
}
.slideshow--contrast--after .slide {
  background-position: right;
}
.slideshow--contrast--after .slide1 {
  animation: 20s slides-set-1 infinite;
}
.slideshow--contrast--after .slide2 {
  animation: 20s slides-set-2 infinite;
}
.slideshow--contrast--after .slide3 {
  animation: 20s slides-set-3 infinite;
}
@media (min-width: 600px) {
  .slideshow--contrast {
    width: 50%;
    height: 100%;
  }
  .slideshow--contrast--after {
    top: 0;
    bottom: auto;
  }
  .slideshow--contrast--after .slides {
    width: 50vw;
  }
}

.slides,
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes slideshow-first-mobile {
  0% {
    transform: scale(1) skewY(10deg);
  }
  50% {
    transform: scale(1.05) skewY(10deg);
  }
  100% {
    transform: scale(1) skewY(10deg);
  }
}
@keyframes slideshow-first {
  0% {
    transform: scale(1) skewX(10deg);
  }
  50% {
    transform: scale(1.05) skewX(10deg);
  }
  100% {
    transform: scale(1) skewX(10deg);
  }
}
@keyframes slideshow-contrast {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes slides-set-1 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  31% {
    opacity: 1;
    transform: scale(1);
  }
  34% {
    opacity: 0;
    transform: scale(1.05);
  }
  97% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slides-set-2 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  31% {
    opacity: 0;
    transform: scale(1.05);
  }
  34% {
    opacity: 1;
    transform: scale(1);
  }
  64% {
    opacity: 1;
    transform: scale(1);
  }
  67% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}
@keyframes slides-set-3 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  64% {
    opacity: 0;
    transform: scale(1.05);
  }
  67% {
    opacity: 1;
    transform: scale(1);
  }
  97% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}

/* navbar */
.welcomeText {
  font-family: "Dancing Script", cursive;
  position: absolute;
  font-weight: bold;
  font-size: 100px;
  top: 250px;
  text-align: center;
  left: 380px;
  z-index: 3;
}
.navContainer {
  position: fixed;
  top: 0px;
  left: 90px;
  width: 100vw;
  height: 100px;
  z-index: 3;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: -90px;
}
.sticky {
  transition: all 0.8s ease-in-out;
  background-color: rgb(255, 255, 255);
  z-index: 6;
}
.logoContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
}
.logoContainer img {
  width: 80px;
  height: 76px;
}
.logoContainer h3 {
  font-family: "Comic Sans MS";
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.navLinks {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.focused {
  color: black !important;
}
.navLinks a {
  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  color: rgb(124, 124, 124);
  text-decoration: none;
}
.navlinks a:hover {
  font-size: 20px;
}

.content {
  position: absolute;
  top: 100vh;
  width: 100vw;
}
.divertirContainer{
  padding: 100px;
  padding-top: 0px !important ;
  display: flex;
  flex-direction: row;
  height: 50vh;
  align-items: center;
}
.divertirText{
  width: 35%;
  margin-right: 200px;
  font-size: 23px;
  font-family: "Comic Sans Ms";
}
.divertirImages{
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.divertirOne{
  width: 100%;
  margin: auto;
}
.divertirOne img{
  width: 300px;
  margin-bottom: -15px;
  margin-right: 50px;
  margin-top: 5px;

}
.divertirTwo img{
  width: 300px;
  margin-bottom: -15px;
  margin-left: 50px;
  margin-top: 5px;

}
.addFavIcon{
  width: 50px !important;
  height: 50px;
  position: relative;
  left: 67%;
  top: 240px;
}
.addFavIcon2{
  width: 50px !important;
  height: 50px;
  position: relative;
  left: 67%;
  top: 240px;
}
/*! reposer Section */
.reposerContainer{
  padding: 100px;
  padding-top: 0px !important ;
  display: flex;
  flex-direction: row;
  height: 50vh;
  align-items: center;
}
.reposerText{
  width: 35%;
  margin-right: 200px;
  font-size: 23px;
  font-family: "Comic Sans Ms";
}
.reposerImages{
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.reposerOne{
  width: 100%;
  margin: auto;
}
.reposerOne img{
  width: 300px;
  margin-bottom: -15px;
  margin-right: 50px;
  margin-top: 5px;

}
.reposerTwo img{
  width: 300px;
  margin-bottom: -15px;
  margin-left: 50px;
  margin-top: 5px;

}
.addFavIconReposer{
  width: 50px !important;
  height: 50px;
  position: relative;
  left: 67%;
  top: 240px;
}
.addFavIcon2Reposer{
  width: 50px !important;
  height: 50px;
  position: relative;
  left: 67%;
  top: 240px;
}


/*! restaurer Section */
.restaurerContainer{
  padding: 100px;
  padding-top: 0px !important ;
  display: flex;
  flex-direction: row;
  height: 50vh;
  align-items: center;
}
.restaurerText{
  width: 35%;
  margin-right: 200px;
  font-size: 23px;
  font-family: "Comic Sans Ms";
}
.restaurerImages{
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurerOne{
  width: 100%;
  margin: auto;
}
.restaurerOne img{
  width: 300px;
  margin-bottom: -15px;
  margin-right: 50px;
  margin-top: 5px;
}
.restaurerTwo img{
  width: 300px;
  margin-bottom: -15px;
  margin-left: 50px;
  margin-top: 5px;

}
.addFavIconRestaurer{
  width: 50px !important;
  height: 50px;
  position: relative;
  left: 67%;
  top: 240px;
}
.addFavIcon2Restaurer{
  width: 50px !important;
  height: 50px;
  position: relative;
  left: 67%;
  top: 240px;
}

.Text{
  font-family: "Comic Sans Ms";
  text-decoration: none;
  color: black;
  margin-top: -10px;
}
a{
  color: black;
}

/*! reservation BUTTON */
.reservationContainer{
  position: absolute;
  top: 295vh;
  justify-content: center;
  align-items: center;
  z-index: 50;
  width: 50%;
  margin: auto;
  left: 45%;
  margin-bottom: 50px;
  
}
.reservationContainer button{
  width: 150px;
  height: 60px;
  background-color: rgba(85, 129, 201, 1);
  border: 1px solid black;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Comic Sans Ms";
}
.reservationContainer a{
  text-decoration: none;
}
/*! footer */
footer {
  position: absolute;
  top: 300vh;
  display: flex;
  flex-direction: row;
  height: 250px;
  padding: 20px;
  background-color: rgba(19, 55, 115, 1);
  width: 100%;
  margin-top: 100px;
}
.leftSide img {
  height: 100px;
  width: 100px;
  padding-left: 50px;
}
.leftSide p {
  color: white;
  padding-left: 50px;
  font-size: 24px;
  font-family: "Comic Sans Ms";
}
.leftSide {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 100px;
  margin-left: 50px;
}
.rightSide {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Comic Sans Ms";
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.location img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.phone img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
